body {
    font-family: Arial, sans-serif;
    background-image: url("fundo.png");
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    color: #ffffff;
}
h2{
    text-align: center;
    margin-top: 2px;
    font-size: 27px;
}

.container {
    width: 400px;
    margin: 40px auto;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(226, 223, 223), rgb(255, 255, 255), rgb(226, 223, 223));
}

.form {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #8f8d8d;
    border-radius: 67px;
    box-sizing: border-box;
}

button {
    background-color: #e98e07;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 87px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #e98e07;
    opacity: 0.67;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
    a:link {
    color: rgb(0, 0, 0);
}

}
